<template name="login">
	
	
	
	<div class="row">

		<div class="col-md-2"></div>
		
		<div class="col-md-8">
			<div class="well" style="margin-top: 100px;">
				{{>alert_boxes}}
				<div class="row">
					<div class="col-md-12">
						<legend>Login</legend>
						<form class="form-horizontal" id="login-form"  name="login-form" role="form">
					  		<div class="form-group">
								<label for="email" class="col-md-2 control-label">user/e-mail</label>
								<div class="col-md-8">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						 				<input type="text" class="form-control" id="email" name="email" value="">
						 			</div>
								</div>
						  	</div>
						  	<div class="form-group">
								<label for="password" class="col-md-2 control-label">password</label>
								<div class="col-md-8">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
							  			<input type="password" class="form-control" id="password" name="password" value="">
							  		</div>
								</div>
						  	</div>
						  	<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
							  		<button id="login" name="login" type="submit" class="btn btn-default">login</button>
								</div>
						  	</div>
						</form>
					</div>
				<div>
			</div>
		</div>
		
		<div class="col-md-2"></div>
		
	</div>

</template>
