@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Iceland);

html {
	height: 100%;
}

body {
	padding-top: 90px;
	height: 100%;
	font-family: Iceland, Monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.brand {
	font-size: 36px;
	font-family: Iceland, Ubuntu;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Iceland, Monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.limited-width {
	max-width: 960px;
}

.wrap {
	min-height: 100%;
}

.content {
	overflow: auto;
	padding-bottom: 220px;
}

footer {
	position: relative;
	background-color: #222222;
	border-top: 3px #3c3c3c solid;
	min-height: 200px;
	margin-top: -200px;
	padding-top: 10px;
	clear: both;
}

.dropdown-menu {
	font-size: 16px;
}

.gravatar-img {
	text-align: center;
	margin: auto;
}

.navsocial {
	padding-top: 10px !important; 
	padding-bottom: 0px !important;
}

.shell-success {
	background-color: #000 !important;
	border: 4px solid #809a00;
}

.shell-warning {
	background-color: #000 !important;
	border: 4px solid #f05800;
}

.shell-danger {
	background-color: #000 !important;
	border: 4px solid #bd001f;
}

.shell-info {
	background-color: #000 !important;
	border: 4px solid #6e2caf;
}

.rounded {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
