html {
	height: 100%;
}

body {
	padding-top: 60px;
	height: 100%;
}

.limited-width {
	max-width: 960px;
}

.wrap {
	min-height: 100%;
}

.content {
	overflow: auto;
	padding-bottom: 220px;
}

footer {
	position: relative;
	background-color: #222222;
	border-top: 3px #3c3c3c solid;
	height: 200px;
	margin-top: -200px;
	padding-top: 10px;
	clear: both;
}

.lside {
	
}