@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
	height: 100%;
}

body {
	padding-top: 60px;
	height: 100%;
	font-family: Monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.brand {
	font-size: 30px;
	font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.limited-width {
	max-width: 960px;
}

.wrap {
	min-height: 100%;
}

.content {
	overflow: auto;
	padding-bottom: 220px;
}

footer {
	position: relative;
	background-color: #222222;
	border-top: 3px #3c3c3c solid;
	height: 200px;
	margin-top: -200px;
	padding-top: 10px;
	clear: both;
}

.lside {
	
}

.navsocial {
	padding-top: 13px !important; 
	padding-bottom: 0px !important;
}