<template name="alert_boxes">

	{{#if getSessionMessage "SUCCESS"}}
		<div id="success-box" class="alert alert-success">
			{{{shellMessage}}}
			<span id="ticker"></span>
		</div>
	{{/if}}

	{{#if getSessionMessage "ERROR"}}
		<div id="danger-box" class="alert alert-danger">
			{{{shellMessage}}}
			<span id="ticker"></span>
		</div>
	{{/if}}

	
	{{#if getSessionMessage "INFO"}}
		<div id="info-box" class="alert alert-info">
			{{{shellMessage}}}
			<span id="ticker"></span>
		</div>
	{{/if}}
	
	{{#if getSessionMessage "WARNING"}}
		<div id="warning-box" class="alert alert-warning">
			{{{shellMessage}}}
			<span id="ticker"></span>
		</div>
	{{/if}}

</template>
