<template name="alert_boxes">

	{{#if getSessionMessage "SUCCESS"}}
		<div id="success-box" class="alert alert-success shell-success">
			{{{shellMessage}}}
			<span id="tickerSuccess"></span>
		</div>
	{{/if}}

	{{#if getSessionMessage "ERROR"}}
		<div id="danger-box" class="alert alert-danger shell-danger">
			{{{shellMessage}}}
			<span id="tickerError"></span>
		</div>
	{{/if}}

	
	{{#if getSessionMessage "INFO"}}
		<div id="info-box" class="alert alert-info shell-info">
			{{{shellMessage}}}
			<span id="tickerInfo"></span>
		</div>
	{{/if}}
	
	{{#if getSessionMessage "WARNING"}}
		<div id="warning-box" class="alert alert-warning shell-warning">
			{{{shellMessage}}}
			<span id="tickerWarning"></span>
		</div>
	{{/if}}

</template>
