<template name="all-messages">
	
	<div class="well">

		{{>alert_boxes}}
		<legend>Tutti i messaggi</legend>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Oggetto</th>
					<th style="text-align: center; width: 5%;"></th>
					<th style="text-align: center; width: 5%;"></th>
				</tr>
			</thead>
			<tbody>
			
				{{#each messages}}

				<tr>
					<td>{{ subject }}</td>
					<td style="text-align: center;">
						<a href="{{pathFor 'message'}}"><i class="fa fa-pencil"></i></a>
					</td>
					<td style="text-align: center;">
						<a href="{{pathFor 'message'}}"><i class="fa fa-trash-o"></i></a
					</td>
				</tr>

				{{/each}}

			</tbody>
		</table>

	</div>

</template>
