<template name="alert_boxes">

	{{#if checkSessionValue "SUCCESS_MESSAGE"}}
		<div id="success-box" class="alert alert-success">
			{{{shellMessage "command"}}}{{getSessionValue "SUCCESS_MESSAGE"}}
		</div>
	{{/if}}

	{{#if checkSessionValue "ERROR_MESSAGE"}}
		<div id="danger-box" class="alert alert-danger">
			{{{shellMessage "command"}}}{{getSessionValue "ERROR_MESSAGE"}}
		</div>
	{{/if}}

	
	{{#if checkSessionValue "INFO_MESSAGE"}}
		<div id="info-box" class="alert alert-info">
			{{shellMessage "command"}}{{getSessionValue "INFO_MESSAGE"}}
		</div>
	{{/if}}
	
	{{#if checkSessionValue "WARNING_MESSAGE"}}
		<div id="warning-box" class="alert alert-warning">
			{{shellMessage "command"}}{{getSessionValue "WARNING_MESSAGE"}}
		</div>
	{{/if}}

</template>
