<template name="all-messages">
	
	<h1>Tutti i messaggi</h1><hr>

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

	{{#each messages}}
		{{ subject }}<br>
	{{/each}}

</template>
